<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Chainsaw"
            name="viewer"
            layout="${longdate} ${logger} ${message}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}} ${stacktrace}"
            address="udp://127.0.0.1:9999"/>
    <target xsi:type="FormControl"
          name="control"
          layout="${longdate} ${logger} ${message} ${exception} ${stacktrace}"
          append="true"
          controlName="Label1"
          formName="Form1" />
    
    <target xsi:type="RichTextBox"
          name="RT11"          
          layout="${longdate} ${logger} ${message}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}} ${stacktrace}"
          autoScroll="true"                   
          controlName="RT1"
          formName="Form1"
          useDefaultRowColoringRules="false">
      <word-coloring backgroundColor="green" fontColor="red" ignoreCase="true"
                  style="Bold" text="Main"
                  wholeWords="false"/>
    </target>
  </targets>
  
  <rules>
    <logger name="*"
            minlevel="Debug"
            writeTo="viewer" />
    <logger name="*"
           minlevel="Debug"
           writeTo="RT11" />
    <logger name="*"
            minlevel="Debug"
            writeTo="control" />
   
  </rules>
</nlog>