<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Core.OracleModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OracleModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.OracleModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Core.OracleModule.Properties.Settings>
            <setting name="LoadCommand" serializeAs="String">
                <value>Test_pkg.LoadSettings</value>
            </setting>
            <setting name="SaveCommand" serializeAs="String">
                <value>Test_pkg.SaveSettings</value>
            </setting>
            <setting name="UsernameParam" serializeAs="String">
                <value>p_username</value>
            </setting>
            <setting name="SectionParam" serializeAs="String">
                <value>p_section</value>
            </setting>
            <setting name="SubSectionParam" serializeAs="String">
                <value>p_subsection</value>
            </setting>
            <setting name="SettingNameParam" serializeAs="String">
                <value>p_settingName</value>
            </setting>
            <setting name="SettingValueParam" serializeAs="String">
                <value>p_settingValue</value>
            </setting>
            <setting name="SettingCursorParam" serializeAs="String">
                <value>p_setiingCursor</value>
            </setting>
            <setting name="SettingValueCLOBParam" serializeAs="String">
                <value>p_settingCLOBValue</value>
            </setting>
            <setting name="SettingValueBLOBParam" serializeAs="String">
                <value>p_settingBLOBValue</value>
            </setting>
            <setting name="SettingNameColumn" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="SettingValueColumn" serializeAs="String">
                <value>value</value>
            </setting>
            <setting name="SettingValueCLOBColumn" serializeAs="String">
                <value>CLOBvalue</value>
            </setting>
            <setting name="SettingValueBLOBColumn" serializeAs="String">
                <value>BLOBvalue</value>
            </setting>
        </Core.OracleModule.Properties.Settings>
        <OracleModule.Properties.Settings>
            <setting name="LoadCommand" serializeAs="String">
                <value>Test_pkg.LoadSettings</value>
            </setting>
            <setting name="SaveCommand" serializeAs="String">
                <value>Test_pkg.SaveSettings</value>
            </setting>
            <setting name="UsernameParam" serializeAs="String">
                <value>p_username</value>
            </setting>
            <setting name="SectionParam" serializeAs="String">
                <value>p_section</value>
            </setting>
            <setting name="SubSectionParam" serializeAs="String">
                <value>p_subsection</value>
            </setting>
            <setting name="SettingNameParam" serializeAs="String">
                <value>p_settingName</value>
            </setting>
            <setting name="SettingValueParam" serializeAs="String">
                <value>p_settingValue</value>
            </setting>
            <setting name="SettingCursorParam" serializeAs="String">
                <value>p_setiingCursor</value>
            </setting>
            <setting name="SettingValueCLOBParam" serializeAs="String">
                <value>p_settingCLOBValue</value>
            </setting>
            <setting name="SettingValueBLOBParam" serializeAs="String">
                <value>p_settingBLOBValue</value>
            </setting>
            <setting name="SettingNameColumn" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="SettingValueColumn" serializeAs="String">
                <value>value</value>
            </setting>
            <setting name="SettingValueCLOBColumn" serializeAs="String">
                <value>CLOBvalue</value>
            </setting>
            <setting name="SettingValueBLOBColumn" serializeAs="String">
                <value>BLOBvalue</value>
            </setting>
        </OracleModule.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Core.OracleModule.Properties.Settings>
            <setting name="ClearCommand" serializeAs="String">
                <value>Test_pkg.ClearSettings</value>
            </setting>
        </Core.OracleModule.Properties.Settings>
    </userSettings>
</configuration>
