<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChipAndDale.Request.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChipAndDale.Request.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChipAndDale.Request.Properties.Settings>
            <setting name="RequestName" serializeAs="String">
                <value>Звернення</value>
            </setting>
        </ChipAndDale.Request.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ChipAndDale.Request.Properties.Settings>
            <setting name="RequestSection" serializeAs="String">
                <value>REQUEST</value>
            </setting>
            <setting name="htmlstraing" serializeAs="String">
                <value>&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Intro&lt;/title&gt;
    &lt;link rel="Stylesheet" href="StyleSheet" /&gt;
&lt;/head&gt;
&lt;body style="background-color: #333; background-gradient: #707; background-gradient-angle: 60;
    margin: 0;"&gt;
    &lt;h1 align="center" style="color: white"&gt;
        HTML Renderer Project
        &lt;br /&gt;
        &lt;span style="font-size: xx-small;"&gt;Release 1.4.1.0&lt;/span&gt;
    &lt;/h1&gt;
    &lt;blockquote class="whitehole"&gt;
        &lt;p style="margin-top: 0px"&gt;
            &lt;table border="0" width="100%"&gt;
                &lt;tr&gt;
                    &lt;td width="32" style="padding: 2px 5px 0 0"&gt;
                        &lt;img src="HtmlIcon" /&gt;
                    &lt;/td&gt;
                    &lt;td&gt;
                        Everything you see on this panel (see samples on the left) is &lt;b&gt;custom-painted&lt;/b&gt;
                        by the HTML Renderer. Including tables, images, links and videos.&lt;br /&gt;
                        This project allows you can have the rich format power of HTML on you desktop applications
                        without &lt;b&gt;WebBrowser&lt;/b&gt; control and &lt;b&gt;MSHTML&lt;/b&gt;.&lt;br /&gt;
                        The library is &lt;b&gt;100% managed code&lt;/b&gt; without any external libraries dependencies,
                        the only requirement is &lt;b&gt;.NET 2.0 or higher&lt;/b&gt;.
                    &lt;/td&gt;
                &lt;/tr&gt;
            &lt;/table&gt;
        &lt;/p&gt;
        &lt;h3&gt;
            Text selection (copy-paste)
        &lt;/h3&gt;
        &lt;div&gt;
            The rendered html has full support for &lt;b&gt;text selection&lt;/b&gt; including &lt;b&gt;drag-and-drop&lt;/b&gt;
            and &lt;b&gt;copy&lt;/b&gt; to clipboard of rich html and plain text to handle &lt;b&gt;paste&lt;/b&gt;
            operation to editor that support rich or/and plain text.&lt;br /&gt;
            Addtionally there is &lt;b&gt;context-menu&lt;/b&gt; with select all, copy text, copy image,
            save image, open link, copy link url, open video, copy video url.
        &lt;/div&gt;
        &lt;h3&gt;
            Cascading Style Sheets (CSS) support
        &lt;/h3&gt;
        &lt;div&gt;
            The core layout engine of the renderer was builded according to &lt;b&gt;CSS Level 2 specification&lt;/b&gt;,
            so you can use Cascading Style Sheets to format your html documents.&lt;br /&gt;
            Additionally there are a couple extensions: &lt;b&gt;Gradients&lt;/b&gt; on backgrounds and
            &lt;b&gt;rounded corners&lt;/b&gt;.
        &lt;/div&gt;
        &lt;h3&gt;
            WinForms support
        &lt;/h3&gt;
        &lt;div&gt;
            It comes with handy WinForms controls (see &lt;a href="ShowSampleForm"&gt;Sample Form&lt;/a&gt;):
        &lt;/div&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;code&gt;HtmlPanel&lt;/code&gt; - The control where you are reading this, panel with scrollbars.&lt;/li&gt;
            &lt;li&gt;&lt;code&gt;HtmlLabel&lt;/code&gt; - Same as html panel but without scrollbars and optional
                auto size.&lt;/li&gt;
            &lt;li&gt;&lt;code&gt;HtmlToolTip&lt;/code&gt; - For ToolTip with rich html.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;h3&gt;
            Limitations
        &lt;/h3&gt;
        &lt;div&gt;
            Here are some warnings that you should know when using the capabilities of the HTML
            Renderer:
        &lt;/div&gt;
        &lt;ul&gt;
            &lt;li&gt;All HTML &lt;b&gt;end tags&lt;/b&gt; marked as &lt;a href="http://www.w3.org/TR/1999/REC-html401-19991224/index/elements.html"&gt;
                optional&lt;/a&gt; should be there. No problem with tags marked as forbidden.&lt;/li&gt;
            &lt;li&gt;When using rounded corners with borders, you must prevent the corner radius to be
                larger than the border thickness&lt;/li&gt;
        &lt;/ul&gt;
        &lt;hr /&gt;
        &lt;h3&gt;
            On the roadmap&lt;/h3&gt;
        Of course it's not quite finished yet. Here are some of the important things to
        do.
        &lt;ul&gt;
            &lt;li&gt;Better performance&lt;/li&gt;
            &lt;li&gt;Support different bullet types&lt;/li&gt;
            &lt;li&gt;Support of position CSS property&lt;/li&gt;
            &lt;li&gt;Support of height and min-height CSS property&lt;/li&gt;
            &lt;li&gt;Better tables support, especially layouts&lt;/li&gt;
            &lt;li&gt;Support image align&lt;/li&gt;
            &lt;li&gt;Support background image&lt;/li&gt;
            &lt;li&gt;Handle :hover selector&lt;/li&gt;
            &lt;li&gt;Selection by shift+arrows&lt;/li&gt;
            &lt;li&gt;Better word wrap, not just whitespace&lt;/li&gt;
            &lt;li&gt;Support rtl using lang attribute&lt;/li&gt;
            &lt;li&gt;Better HTML tag parsing (optional closing tags)&lt;/li&gt;
            &lt;li&gt;More styles support&lt;/li&gt;
        &lt;/ul&gt;
        &lt;h3&gt;
            Vision
        &lt;/h3&gt;
        &lt;ul&gt;
            &lt;li&gt;Most complete static HTML Renderer (no java script).&lt;/li&gt;
            &lt;li&gt;Commercial web browser performance level.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;hr /&gt;
        &lt;h3&gt;
            2012 - Arthur Teplitzki
        &lt;/h3&gt;
        &lt;blockquote&gt;
            &lt;a href="http://theartofdev.wordpress.com/"&gt;http://TheArtOfDev.wordpress.com&lt;/a&gt;
        &lt;/blockquote&gt;
        &lt;h3&gt;
            2009 - Jose Manuel Menendez Poo
        &lt;/h3&gt;
        &lt;blockquote&gt;
            &lt;a href="http://www.menendezpoo.com"&gt;www.menendezpoo.com&lt;/a&gt;
        &lt;/blockquote&gt;
    &lt;/blockquote&gt;
&lt;/body&gt;
&lt;/html&gt;
</value>
            </setting>
        </ChipAndDale.Request.Properties.Settings>
    </userSettings>
</configuration>