<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChipAndDale.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChipAndDale.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChipAndDale.Main.Properties.Settings>
            <setting name="DbUser" serializeAs="String">
                <value>chipanddale</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>chipanddale</value>
            </setting>
            <setting name="DbAliase" serializeAs="String">
                <value>xe</value>
            </setting>
            <setting name="OraPath" serializeAs="String">
                <value>ODAC11\</value>
            </setting>
        </ChipAndDale.Main.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ChipAndDale.Main.Properties.Settings>
            <setting name="ModuleName" serializeAs="String">
                <value>ChipAndDale</value>
            </setting>
        </ChipAndDale.Main.Properties.Settings>
    </userSettings>
</configuration>