<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Core.LogModule"/>
  </extensions>
  <targets>
    <target xsi:type="Chainsaw"
            name="viewer"
            layout="${longdate} ${logger} ${message}${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}} ${stacktrace}"
            address="udp://127.0.0.1:9999"/>

    <!--target xsi:type="MethodCall" name="InternalListener" 
            className="LogModule.LogListener, LogModule" 
            methodName="OnNewLogWrite">
      <parameter layout="${level}" />
      <parameter layout="${message}" />
    </target>-->
    
    <target name="InternalTarget" 
            type="GeneralTarget"
            layout="${longdate} ${logger} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method} STACK\: ${stacktrace}}"/>
  </targets>
  
  <rules>
    <logger name="*"
            minlevel="Debug"
            writeTo="viewer" />
    <!--logger name="*"
            minlevel="Debug"
            writeTo="InternalListener" /> -->
    <logger name="*"
           minlevel="Debug"
           writeTo="InternalTarget" />
  </rules>
</nlog>